node_modules
npm-debug.log
vendor
.git
.gitignore
.env.local
.env.*.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.DS_Store
.vscode
.idea
tests
.phpunit.result.cache
